<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<main>
    <h2>Choose course:</h2>

    <form th:method="POST">
        <li th:each="course : ${listCourses}">
            <input type="radio" th:name="courseSelect" th:value="${course.getCourseId()}">
            <th:block th:text="${course.getName()}"></th:block>
            </br>
        </li>
        <button id="submit" type="submit">Submit</button>
    </form>
    </br>
    <a href="AddStudent">Submit</a>
</main>
</body>
</html>